<section class="legal-page">
  <div class="container narrow">
    <h1>{{ 'LEGAL.PRIVACY_TITLE' | translate }}</h1>
    <div class="content">
      <p class="intro">
        {{ 'LEGAL.LAST_UPDATE' | translate }}: {{ 'LEGAL.PRIVACY_UPDATE_DATE' | translate }}
      </p>

      <p>{{ 'LEGAL.PRIVACY.META.CONTROLLER' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.META.CONTACT' | translate }}</p>

      <h2>{{ 'LEGAL.PRIVACY.S1.TITLE' | translate }}</h2>
      <p>{{ 'LEGAL.PRIVACY.S1.P1' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.S1.P2' | translate }}</p>

      <h2>{{ 'LEGAL.PRIVACY.S2.TITLE' | translate }}</h2>
      <p>{{ 'LEGAL.PRIVACY.S2.P1' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.S2.P2' | translate }}</p>

      <h2>{{ 'LEGAL.PRIVACY.S3.TITLE' | translate }}</h2>
      <p>{{ 'LEGAL.PRIVACY.S3.P1' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.S3.P2' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.S3.P3' | translate }}</p>

      <h2>{{ 'LEGAL.PRIVACY.S4.TITLE' | translate }}</h2>
      <p>{{ 'LEGAL.PRIVACY.S4.P1' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.S4.P2' | translate }}</p>

      <h2>{{ 'LEGAL.PRIVACY.S5.TITLE' | translate }}</h2>
      <p>{{ 'LEGAL.PRIVACY.S5.P1' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.S5.P2' | translate }}</p>

      <h2>{{ 'LEGAL.PRIVACY.S6.TITLE' | translate }}</h2>
      <p>{{ 'LEGAL.PRIVACY.S6.P1' | translate }}</p>
      <p>{{ 'LEGAL.PRIVACY.S6.P2' | translate }}</p>
    </div>
  </div>
</section>
