    <footer class="footer">
      <div class="container footer-inner">
        <div class="col">
          <span class="brand">3D fab</span>
          <p class="copyright">&copy; 2026 3D fab.</p>
        </div>

        <div class="col links">
          <a routerLink="/privacy">{{ 'FOOTER.PRIVACY' | translate }}</a>
          <a routerLink="/terms">{{ 'FOOTER.TERMS' | translate }}</a>
          <a routerLink="/contact">{{ 'FOOTER.CONTACT' | translate }}</a>
        </div>

        <div class="col social">
           <!-- Social Placeholders -->
           <div class="social-icon"></div>
           <div class="social-icon"></div>
           <div class="social-icon"></div>
        </div>
      </div>
    </footer>
